.header-container {
  background-color: #d81212;
  height: 200px;
  width: 100%;
}

.header {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.header img {
  width: 300px;
  position: relative;
  bottom: -5rem;
}

.header-intro {
  text-align: center;
  width: 25%;
}

.header-intro h1 {
  font-size: 48px;
  color: white;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header-nav button {
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--black);
  color: white;
  font-weight: 700;
  transition: background 0.3s ease;
}

.header-nav button:hover {
  background-color: #8f8f8f;
}
