/* RESET E GLOBAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --red: #eb0e0e;
  --black: #1a1919;
  --black-light: #3d3c3c;

  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
}
